#dark {
    .createTask-container {
        background-color: hsl(235, 24%, 19%);

        input {
            color: hsl(234, 39%, 85%);
        }

        input::placeholder {
            color: hsl(233, 14%, 35%);
        }
    }
    .checkButton {
        border: 2px solid hsl(237, 14%, 26%);
    }
}

#light {
    .createTask-container {
        background-color: hsl(236, 33%, 92%);
        input {
            color: hsl(235, 21%, 11%);
        }

        input::placeholder {
            color: hsl(236, 9%, 61%);
        }
    }
    .checkButton {
        border: 2px solid hsl(233, 11%, 84%);
    }
}

.createTask-container {
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.checkButton {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: transparent;
    margin: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkButton.checked {
    background: linear-gradient(
        to bottom right,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
    );
}

.createTask-container input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    &:focus {
        outline: none;
    }
}

input {
    font-weight: 600;
    letter-spacing: 0.05em;
    padding-left: 20px;
}

input::placeholder {
    font-weight: 600;
    letter-spacing: 0.05em;
}
