html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.App {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    .max-width {
        width: 100%;
        max-width: 1440px;
    }

    * {
        font-family: 'Josefin Sans', sans-serif;
        box-sizing: border-box;
    }

    .container {
        position: absolute;
        top: 100px;
        bottom: 100px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: calc(100% - 200px);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;

        .tasks {
            width: 100%;
            margin-top: 20px;
        }
    }

    .container::-webkit-scrollbar {
        display: none;
    }

    //set container width to 100% on small screens
    @media (max-width: 768px) {
        .container {
            width: calc(100% - 40px);
            top: 20px;
            bottom: 20px;
            height: calc(100% - 40px);
        }
    }
}

#light.App {
    background-color: hsl(0, 0%, 98%);
}

#dark.App {
    background-color: hsl(235, 21%, 11%);
}

.background {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
}

#dark .background {
    background: url('/public/assets/bg-desktop-dark.jpg');
    background-size: cover;
}
#light .background {
    background: url('/public/assets/bg-desktop-light.jpg');
    background-size: cover;
}
